<div class="container">
  <form #f="ngForm" (ngSubmit)="salvar(f)">
    <div class="p-grid">
      <div class="p-col-12">
        <h1>{{ editando ? "Edição de" : "Novo" }} Lançamento</h1>
      </div>
      <div class="p-col-12">
        <p-selectButton
          [options]="tipos"
          name="tipo"
          [(ngModel)]="lancamento.tipo"
          #tipo
        ></p-selectButton>
      </div>
      <div class="p-col-12 p-md-6 p-fluid">
        <label for="vencimento">Vencimento</label>
        <p-calendar
          dateFormat="dd/mm/yy"
          id="vencimento"
          [showIcon]="true"
          name="vencimento"
          ngModel
          #vencimento="ngModel"
          [required]="true"
          [(ngModel)]="lancamento.dataVencimento"
        ></p-calendar>
        <p-message
          *ngIf="vencimento.hasError('required') && vencimento.dirty"
          severity="error"
          text="Informe uma data de vencimento"
        ></p-message>
      </div>
      <div class="p-col-12 p-md-6 p-fluid">
        <label for="recebimento">{{
          tipo.value === "RECEITA" ? "Recebimento" : "Pagamento"
        }}</label>
        <p-calendar
          dateFormat="dd/mm/yy"
          id="vencimento"
          [showIcon]="true"
          name="recebimento"
          ngModel
          #vencimento="ngModel"
          [required]="true"
          [(ngModel)]="lancamento.dataPagamento"
        ></p-calendar>
        <p-message
          *ngIf="vencimento.hasError('required') && vencimento.dirty"
          severity="error"
          text="Informe uma data de vencimento"
        ></p-message>
      </div>
      <div class="p-col-12 p-md-9 p-fluid">
        <label for="descricao">Descrição</label>
        <input
          id="descricao"
          pInputText
          type="text"
          name="descricao"
          ngModel
          #descricao="ngModel"
          required="true"
          minlength="10"
          [(ngModel)]="lancamento.descricao"
        />
        <p-message
          *ngIf="descricao.hasError('required') && descricao.dirty"
          severity="error"
          text="Informe uma descrição"
        ></p-message>
        <p-message
          *ngIf="descricao.hasError('minlength') && descricao.dirty"
          severity="error"
          text="Minimo de {{
            descricao.errors.minlength.requiredLength
          }} caracteres"
        ></p-message>
      </div>
      <div class="p-col-12 p-md-3 p-fluid">
        <label for="valor">Valor</label>
        <p-inputNumber
          mode="decimal"
          locale="pt-BR"
          prefix="R$"
          [minFractionDigits]="2"
          name="valor"
          ngModel
          #valor="ngModel"
          [required]="true"
          [(ngModel)]="lancamento.valor"
        ></p-inputNumber>
        <p-message
          *ngIf="valor.hasError('required') && valor.dirty"
          severity="error"
          text="Informe um valor"
        ></p-message>
      </div>
      <div class="p-col-12 p-md-6 p-fluid">
        <label for="Categoria">Categoria</label>
        <p-dropdown
          [options]="categorias"
          id="Categoria"
          [showClear]="true"
          [filter]="true"
          placeholder="Selecione"
          name="categoria"
          ngModel
          #categoria="ngModel"
          [required]="true"
          [(ngModel)]="lancamento.categoria.codigo"
        ></p-dropdown>
        <p-message
          *ngIf="categoria.hasError('required') && categoria.dirty"
          severity="error"
          text="Informe uma categoria"
        ></p-message>
      </div>
      <div class="p-col-12 p-md-6 p-fluid">
        <label for="pessoa">Pessoa</label>
        <p-dropdown
          [options]="pessoas"
          id="pessoa"
          [showClear]="true"
          [filter]="true"
          placeholder="Selecione"
          name="pessoa"
          ngModel
          #pessoa="ngModel"
          [required]="true"
          [(ngModel)]="lancamento.pessoa.codigo"
        ></p-dropdown>
        <p-message
          *ngIf="pessoa.hasError('required') && pessoa.dirty"
          severity="error"
          text="Informe uma pessoa"
        ></p-message>
      </div>
      <div class="p-col-12 p-fluid">
        <label for="observacao">Observação</label>
        <textarea
          id="observacao"
          pInputTextarea
          rows="3"
          name="observacao"
          [(ngModel)]="lancamento.observacao"
        ></textarea>
      </div>
      <div class="p-col-12">
        <button
          pButton
          type="submit"
          label="Salvar"
          [disabled]="f.invalid"
        ></button>
        <button
          pButton
          type="button"
          label="Novo"
          class="p-button-info"
          (click)="novo(f)"
        ></button>
        <a routerLink="/lancamentos">Voltar para pesquisa</a>
      </div>
    </div>
  </form>
</div>
