<div class="container">
  <div class="p-grid">
    <form (ngSubmit)="pesquisar()">
      <div class="p-col-12">
        <h1>Pessoas</h1>
      </div>
      <div class="p-col-12 p-fluid">
        <label for="nome">Nome</label>
        <input
          id="nome"
          pInputText
          type="text"
          name="nome"
          [(ngModel)]="filtro.nome"
        />
      </div>
      <div class="p-col-12">
        <button
          pButton
          type="submit"
          label="Pesquisar"
          icon="pi pi-search"
          iconPos="right"
          [ngStyle]="{ 'margin-top': '10px' }"
          title="Pesquisar"
        ></button>
      </div>
    </form>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <p-table
        [value]="pessoas"
        [responsive]="true"
        [paginator]="true"
        [rows]="filtro.itensPorPagina"
        [lazy]="true"
        [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)"
        #tabela
      >
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Cidade</th>
            <th scope="col">Estado</th>
            <th scope="col">Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.endereco.cidade }}</td>
            <td>
              {{ pessoa.endereco.estado }}
            </td>
            <td>
              <a
                [pTooltip]="pessoa.status ? 'Desativar' : 'Ativar'"
                tooltipPosition="top"
                (click)="mudarStatus(pessoa)"
                >{{ pessoa.status ? "Ativo" : "Inativo" }}</a
              >
            </td>
            <td style="width: 120px; text-align: right">
              <a
                ><p-button
                  icon="pi pi-pencil"
                  pTooltip="Editar"
                  tooltipPosition="top"
                  [routerLink]="['/pessoas', pessoa.codigo]"
                ></p-button
              ></a>
              <p-button
                icon="pi pi-trash"
                pTooltip="Excluir"
                tooltipPosition="top"
                (onClick)="excluir(pessoa)"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="p-col-12">
      <p-button
        label="Nova Pessoa"
        icon="pi pi-plus"
        iconPos="right"
        [ngStyle]="{ 'margin-top': '10px' }"
        routerLink="/pessoas/nova"
        (onClick)="trocarTitulo()"
      >
      </p-button>
    </div>
  </div>
</div>
