<div class="container">
  <div class="p-grid">
    <form (ngSubmit)="pesquisar()">
      <div class="p-col-12">
        <h1>Lançamentos</h1>
      </div>
      <div class="p-col-12 p-fluid">
        <label for="description">Descrição</label>
        <input
          id="descricao"
          pInputText
          type="text"
          name="descricao"
          [(ngModel)]="filtro.descricao"
        />
      </div>
      <div class="p-col-12">
        <label for="vencimento" style="display: block">Vencimento</label>
        <p-calendar
          dateFormat="dd/mm/yy"
          id="vencimento"
          [showIcon]="true"
          [inputStyle]="{ width: '95px' }"
          name="vencimentoInicio"
          [(ngModel)]="filtro.dataVencimentoInicio"
          [required]="true"
        ></p-calendar>
        <label for="ate">até</label>
        <p-calendar
          dateFormat="dd/mm/yy"
          id="vencimento"
          [showIcon]="true"
          [inputStyle]="{ width: '95px' }"
          name="vencimentoFim"
          [(ngModel)]="filtro.dataVencimentoFim"
          [required]="true"
        ></p-calendar>
      </div>
      <div class="p-col-12">
        <button
          pButton
          type="submit"
          label="Pesquisar"
          icon="pi pi-search"
          iconPos="right"
          [ngStyle]="{ 'margin-top': '10px' }"
        ></button>
      </div>
    </form>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <p-table
        [value]="lancamentos"
        [responsive]="true"
        [paginator]="true"
        [rows]="filtro.itensPorPagina"
        [lazy]="true"
        [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)"
        #tabela
      >
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">Pessoa</th>
            <th scope="col">Descrição</th>
            <th scope="col">Vencimento</th>
            <th scope="col">Pagamento</th>
            <th scope="col">Valor</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td>{{ lancamento.pessoa }}</td>
            <td>{{ lancamento.descricao }}</td>
            <td style="width: 120px; text-align: center">
              {{ lancamento.dataVencimento | date : "dd/MM/y" }}
            </td>
            <td style="width: 120px; text-align: center">
              {{ lancamento.dataPagamento | date : "dd/MM/y" }}
            </td>
            <td style="width: 120px; text-align: right">
              <span
                [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'"
                >{{
                  lancamento.valor | currency : "BRL" : "symbol" : "1.0-2"
                }}</span
              >
            </td>
            <td style="width: 120px; text-align: right">
              <a
                ><p-button
                  icon="pi pi-pencil"
                  pTooltip="Editar"
                  tooltipPosition="top"
                ></p-button
              ></a>
              <p-button
                icon="pi pi-trash"
                pTooltip="Excluir"
                tooltipPosition="top"
                (onClick)="excluir(lancamento)"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="p-col-12">
      <p-button
        label="Novo Lançamento"
        icon="pi pi-plus"
        iconPos="right"
        [ngStyle]="{ 'margin-top': '10px' }"
        routerLink="/lancamentos/novo"
      >
      </p-button>
    </div>
  </div>
</div>
