<div class="container">
  <div class="p-grid">
    <div class="p-col-12">
      <h1>Lançamentos</h1>
    </div>
    <div class="p-col-12 p-fluid">
      <label for="description">Descrição</label>
      <input id="description" pInputText type="text" />
    </div>
    <div class="p-col-12">
      <label for="vencimento" style="display: block">Vencimento</label>
      <input id="vencimento" pInputText type="text" style="width: 95px" />
      <label for="ate">até</label>
      <input id="ate" pInputText type="text" style="width: 95px" />
    </div>
    <div class="p-col-12">
      <button
        pButton
        type="submit"
        label="Pesquisar"
        icon="pi pi-search"
        iconPos="right"
        style="margin-top: 10px"
      ></button>
    </div>
  </div>
</div>
