<div class="container">
  <div class="p-grid">
    <div class="p-col-12">
      <h1>Lançamentos</h1>
    </div>
    <div class="p-col-12 p-fluid">
      <label for="description">Descrição</label>
      <input id="description" pInputText type="text" />
    </div>
    <div class="p-col-12">
      <label for="vencimento" style="display: block">Vencimento</label>
      <input id="vencimento" pInputText type="text" style="width: 95px" />
      <label for="ate">até</label>
      <input id="ate" pInputText type="text" style="width: 95px" />
    </div>
    <div class="p-col-12">
      <button
        pButton
        type="submit"
        label="Pesquisar"
        icon="pi pi-search"
        iconPos="right"
        style="margin-top: 10px"
      ></button>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <p-table
        [value]="lancamentos"
        [responsive]="true"
        [paginator]="true"
        [rows]="2"
      >
        <ng-template pTemplate="header">
          <tr>
            <th scope="col">Pessoa</th>
            <th scope="col">Descrição</th>
            <th scope="col">Vencimento</th>
            <th scope="col">Pagamento</th>
            <th scope="col">Valor</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td>{{ lancamento.pessoa }}</td>
            <td>{{ lancamento.descricao }}</td>
            <td style="width: 120px; text-align: center">
              {{ lancamento.dataVencimento }}
            </td>
            <td style="width: 120px; text-align: center">
              {{ lancamento.dataPagamento }}
            </td>
            <td style="width: 120px; text-align: right">
              <span
                [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'"
                >{{ lancamento.valor }}</span
              >
            </td>
            <td style="width: 120px; text-align: right">
              <a
                ><p-button
                  icon="pi pi-pencil"
                  pTooltip="Editar"
                  tooltipPosition="top"
                ></p-button
              ></a>
              <p-button
                icon="pi pi-trash"
                pTooltip="Excluir"
                tooltipPosition="top"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="p-col-12">
      <p-button
        label="Novo Lançamento"
        icon="pi pi-plus"
        iconPos="right"
        style="margin-top: 10px"
      >
      </p-button>
    </div>
  </div>
</div>
